<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <%= bootstrap_form_with url:  session_create_path, local: true do |form| %>

        <div class="field">
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <%= form.password_field :password %>
        </div>

        <div class="actions">
          <%= form.submit 'Log in' %>
        </div>
      <% end %>
    </div>
  </div>
</div>