<div class="row">
  <div class="col-3">
   <%= render template: 'projects/main_info'%>
  </div>
  <div class="col-3">
   <%= render template: 'projects/parts'%>
  </div>
  <div class="col-3">
    <div id="all_tasks">
      <%= render template: 'projects/tasks'%>
    </div>
    <div id="tasks_part">
    </div>
  </div>
  <div class="col-3">
   <%= render template: 'projects/comments'%>
  </div>
</div>
