<!-- <div id="bg_layer"></div> -->
<div id="modal">
  <div id="modal_header">
    <h5><b>modal header</b></h5>
  </div>
  <div id="modal_body">
    <p>
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
      Вышеописанная способность элементов изменять порядок наложения
      друг на друга с помощью свойства z-index работает лишь в том
      случае, если эти элементы существуют в одном контексте наложения.
      Что это значит?
    </p>
  </div>
  <div id="modal_footter">
    modal footter
    <%= link_to "close modal", user_project_path(current_user,@project), id: "close_modal", remote: true %>
  </div>
</div>